.heading {
 color: #f3ca20 ;
  animation-name: example;
  animation-duration: 4s;
text-align: center;
font-size: 50px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
